*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}

button {
  margin-top: 2em;
  width: 8em;
  height: 3em;
  border-radius: 10em;
  border: 3px solid #29339b;
  background-color: white;
  color: #29339b;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

.first-bg {
  position: absolute;
  right: 0;
  top: 0;
  height: 105vh;
  width: 87%;
  z-index: -1;
}

.first-gap {
  margin-top: 100vh;
}

.section {
  padding: 3em 3em 0 20em;
  font-size: 1.2em;
}

.section h2 {
  font-size: 2em;
}

.section h3 {
  font-size: 1.5em;
}

.projects {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
}

.project {
  width: 24em;
  height: 18em;
  background-color: #b6d6cc;
  margin: 2em 3em 0 0;
  border-radius: 1em;
  padding: 1em;
  position: relative;
}

.project h2 {
  color: white;
  text-shadow: 1px 1px 3px black;
}

.welcome {
  position: absolute;
  right: 12em;
  top: 3.5em;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 2.7em;
}

.welcome p {
  margin-top: 2em;
  font-size: 0.4em;
  width: 30em;
  font-family: "Open-Sans", sans-serif;
}

.social-media {
  margin-top: 1em;
  width: 8em;
  height: 1em;
  border-radius: 0.5em;
  background-color: white;
}

.icons-bar {
  margin: 1em 0;
  height: 2em;
  border-radius: 1em;
  background-color: white;
}

.skillset {
  background-color: #b6d6cc;
  border-radius: 1em;
  padding: 2em;
}

.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 12%;
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
}

.inside {
  width: 7em;
  height: 7em;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  background-image: url("../images/me.jpg");
  background-position: center;
  background-size: contain;
}

.buttons {
  margin-top: 3.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-1 {
  margin: 1em 0;
}

.my-2 {
  margin: 2em 0;
}

.links {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid gray;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  height: 3em;
  width: 100%;
  background-color: white;
}

.devtracker,
.wavves,
.social {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.devtracker {
  background-image: url("../images/DevTracker_screenshot.png");
}

.wavves {
  background-image: url("../images/Wavves_screenshot.png");
}

.newsweek {
  background-image: url("../images/Newsweek_screenshot.png");
}
